<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/assets/js/leaderboard.js" defer></script>
    <link rel="stylesheet" href="/assets/css/leaderboard.css">
</head>
<body>
    <main>
        <div>
            <table>
                <caption>
                    Leaderboard Top 10
                </caption>
                <thead>
                    <tr>
                        <th scope="col">Position</th>
                        <th scope="col">Player</th>
                        <th scope="col">Score</th>
                    </tr>
                </thead>
                <tbody id="leaderboard-list">
    
                </tbody>
            </table>
        </div>
        <div id="pagination">
            <button class="btn" id="firstPage">|<</button>
            <button class="btn" id="previous"><</button>
            <span id="pageInfo"></span>
            <button class="btn" id="nextPage">></button>
            <button class="btn" id="lastPage">>|</button>
        </div>
        <div id="divReturnHome">
            <button class="btn" id="returnHome">Home</button>
        </div>
    </main>
</body>
</html>